@page
@model IndexPageModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Lambada Incorporate, fixious beer holding</h1>
    <p>This company produces beers and has factories around the world. Check <a asp-page="/Factories/Overview">factories</a> link for more information.</p>
</div>
<img src="images/beer-factory-unsplash.jpeg" alt="image courtesy of https://images.unsplash.com/photo-1576216871185-51cd7a45c1f1?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjEyMDd9" class="img-fluid"/>