@page "{factoryId}"
@model Lambada.Generators.Pages.Factories.DeletePageModel

@{
    var factoryName = Model.Factory.Name;
    ViewData["Title"] = "Delete factory " + factoryName;
}

<h1>
    Delete factory @factoryName
</h1>

<p class="text-danger font-weight-bolder text-black-50">This action cannot be undone!</p>

<div class="row">
    <div class="col-md-12 mb-3">
        <form method="post">
            <input type="hidden" class="form-control" asp-for="Factory.FactoryId">
            <button type="submit" class="btn btn-primary">I am sure and would like for factory @factoryName to vanish</button>
        </form>
    </div>
</div>